<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1">
	<listeners>
		<listener class-name="com.trifacta.listeners.Listener"></listener>
		<listener
			class-name="com.trifacta.listeners.AnnotationTransformer"></listener>



	</listeners>

	<test name="Login to Browser, display Product version" >
		<classes>
			
			<class name="com.trifacta.scripts.Home" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
